<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.binarysoft.emumap"
	versionCode="2"
	version   = "2.0">
	<preference name="phonegap-version" value="cli-6.5.0"/>

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
	
    <name>SHIFTCLOCKER INCORPORATED</name>
    <description>Punch in made easy</description>
    <author href="http://www.online.shiftclocker.com" email="info@shiftclocker.com">Olumide Francis</author>
    <!--<content src="index.html" />-->
    <preference name="permissions" value="none" />
	<preference name="android-build-tool" value="gradle" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
	<preference name="ErrorUrl" value="error.html" />

	<preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-targetSdkVersion" value="19" />
    <preference name="android-installLocation" value="auto" />
 	<gap:plugin name="de.appplant.cordova.plugin.badge" source="npm" /> 

 <preference name="ios-XCBuildConfiguration-TARGETED_DEVICE_FAMILY" value="1" xcconfigEnforce="true"/>
 
 <preference name="target-device" value="handset" />
<preference name="deployment-target" value="8.0" />
	 
	<plugin name="cordova-plugin-badge" spec="0.7.2" source="npm" /> 
   
 
   
  
   
    <gap:plugin name="org.apache.cordova.device-orientation" source="npm"/>
    <gap:plugin name="org.apache.cordova.dialogs" source="npm"/>
    <gap:plugin name="org.apache.cordova.file" source="npm"/>
    <gap:plugin name="org.apache.cordova.file-transfer" source="npm"/>
    <gap:plugin name="org.apache.cordova.globalization" source="npm"/>
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm"/>
    <gap:plugin name="org.apache.cordova.media" source="npm"/>
    <gap:plugin name="org.apache.cordova.network-information" source="npm"/>
 
	 
    <access origin="*" />
 
<icon src="icon.png" />


<!-- iPhone 6 / 6+  <gap:plugin name="org.apache.cordova.device-motion" source="npm"/> <gap:plugin name="org.apache.cordova.console" source="npm" />
 -->
<icon src="images/ios/Icon-App-60x60@3x" platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
<icon src="images/ios/Icon-60.png" platform="ios" width="60" height="60" />
<icon src="images/ios/Icon-App-40x40@3x.png" platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="images/ios/Icon-App-76x76@1x.png" platform="ios" width="76" height="76" />
<icon src="images/ios/Icon-App-76x76@2x.png" platform="ios" width="152" height="152" />
<icon src="images/ios/Icon-App-83.5x83.5@2x.png" platform="ios" width="167" height="167" />

<!-- Settings Icon -->
<icon src="images/ios/Icon-App-29x29@1x.png" platform="ios" width="29" height="29" />
<icon src="images/ios/Icon-App-29x29@2x.png" platform="ios" width="58" height="58" />
<icon src="images/ios/Icon-App-29x29@3x.png" platform="ios" width="87" height="87" />

<!-- Spotlight Icon <gap:plugin name="org.apache.cordova.device" version="0.2.3" source="npm"/>-->
<icon src="images/ios/Icon-App-20x20@2x.png" platform="ios" width="40" height="40" />
<icon src="images/ios/Icon-App-40x40@2x.png" platform="ios" width="80" height="80" />
<icon src="images/ios/Icon-App-40x40@3x.png" platform="ios" width="120" height="120" />






 
	
	 
	
	
	<icon src="images/36x36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="images/48x48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="images/72x72.png" gap:platform="android" gap:density="hdpi" />
	<icon src="images/92x92.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="images/144x144.png" gap:platform="android" gap:density="xxhdpi" />
 
	
	

    <plugin name="cordova-plugin-whitelist" version="1" source="npm"/>

    
    <gap:plugin name="cordova-plugin-geolocation" source="npm"/>
	 
		<feature name="http://api.phonegap.com/1.0/file" />
		<feature name="http://api.phonegap.com/1.0/geolocation" />
		<feature name="http://api.phonegap.com/1.0/media" />
		<feature name="http://api.phonegap.com/1.0/network" />
		<feature name="http://api.phonegap.com/1.0/notification" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
